extends layout

block content

  h3
  strong
    p= 'Burrito Poem:'
  p(style='text-align: center;')= "A burrito is a tasty thing. It's really great, I say! But it makes me fart."

  iframe(src='https://www.youtube.com/embed/YoqQ8x-mt4o')


