extends layout

block content
    
    h1 Ode to Burritos
    
    
    
    
    p
        I love burritos.
        They are delicious.
        Burritos are my favorite food.
        I could eat a whole box of them!
    
    
    block iframe
        iframe(src="https://www.youtube.com/embed/YoqQ8x-mt4o")