
body {
  background-image: url("https://media.giphy.com/media/caJ3e5mubnTEY/giphy.gif");
  background-size: cover;
}
h1, h2, h3 {
  color: orange;
}
h1 {
  font-family: Comic Sans MS;
}
h2 {
  font-family: Comic Sans MS;
}
h3 {
  font-family: Comic Sans MS;
}





















    </style>